<ng-template #loading>
  <div *ngIf="!sideUser && !isLoading; else spinnder">
    <span class="h5">User not found</span>
  </div>
  <ng-template #name>

  </ng-template>

</ng-template>
<div class="container" *ngIf="sideUser; else loading">
  <div>
      <a class="app-link h5" routerLink="/user/{{sideUser.id}}">{{sideUser.name}}</a>
  </div>
  <hr>
  <div class="messages" #messagesBlock>
    <div *ngFor="let message of messages" #messagesFor>

      <div class="container">
        <div class="d-flex justify-content-end" *ngIf="user?.id == message.from.id;else difMessage">
          <app-message [message]="message"></app-message>
        </div>

        <ng-template #difMessage>
          <div class="d-flex justify-content-start">
            <app-message [message]="message"></app-message>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
  <form #chatMessage="ngForm" (ngSubmit)="sendMessage(chatMessage)">
    <div class="form-group d-flex">
      <textarea
        type="text"
        class="form-control"
        id="message"
        name="message"
        ngModel
        required
        minlength="1"
        maxlength="3000"
        placeholder="Enter your message here..."
        autoExpand
        (keydown)="onMessageKeyDown($event, chatMessage)"
      >
    </textarea>
    <button class="btn send" type="submit" [disabled]="false" *ngIf="chatMessage.controls.message?.valid">
      <ng-icon name="heroPaperAirplane" size="30px"></ng-icon>
    </button>
    </div>
  </form>

</div>
