

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-link {
  cursor: pointer;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.app-link button {
  font-weight: bolder;
}

.app-link:hover {
  color: #caa732;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre .inner-pre {
  font: 1.3em 'Fira Sans', sans-serif;
}

