<div>
  <div class="row d-flex align-items-center">
    <div class="col fw-bold">Vacancy name</div>
    <div class="col fw-bold">Salary</div>
    <div class="col-2 fw-bold" *ngIf="user?.employer?.isHr">Actions</div>
  </div>
  <hr class="mb-1">
  <div *ngFor="let vac of vacancies">
    <div class="row d-flex align-items-center">
      <div class="col"><a routerLink="/vacancy/{{vac.id}}" class="link text-decoration-none" style="cursor: pointer;">{{vac.title}}</a></div>
      <div class="col">{{vac.salary ? vac.salary : 'Not specified'}}</div>
      <div class="col-2 d-flex" *ngIf="user?.employer?.isHr" >
        <button class="btn btn-outline-danger me-2">Delete</button>
        <button class="btn btn-outline-info">Edit</button>
      </div>
    </div>
    <hr class="mt-1 mb-1">
  </div>
  <div class="d-flex justify-content-center" *ngIf="canLoadMore">
    <app-loading-spinner *ngIf="isLoading; else loadBtn"></app-loading-spinner>
    <ng-template #loadBtn>
      <button class="btn btn-outline-info" (click)="loadPage()">Load more</button>
    </ng-template>
  </div>
</div>
