<div class="shadow p-2 m-2 bg-body rounded position-relative">
  <div>
    <div>
      <a class="app-link" routerLink="/vacancy/{{vacancy.id}}">{{vacancy.title}}</a>
    </div>

    <div class="text-muted position-absolute top-0 end-0 pt-1 pe-1">
      {{vacancy.postDate | date: 'dd.MM.yyyy'}}
    </div>

    <div style="font-size: 0.9em;">
      Salary: {{vacancy.salary ? vacancy.salary : 'not specified'}}
    </div>
    <div>
      <i-bs name="briefcase-fill" height="0.9em" width="0.9em"></i-bs>
      <a style="font-size: 0.9em;" class="app-link ps-1" routerLink="/company/{{vacancy.company.id}}">{{vacancy.company.name}}</a>
    </div>
    <div>
      {{vacancy.description | slice:0:200}}<span *ngIf="vacancy.description.length > 200">... <a routerLink="/vacancy/{{vacancy.id}}" class="text-decoration-none">view more</a></span>
    </div>
    <ng-content></ng-content>
  </div>
</div>
