<div class="pt-3 pb-5">
  <app-loading-spinner *ngIf="isLoading; else companyTemplate"></app-loading-spinner>
  <ng-template #companyTemplate>
    <ng-template #companyNotFound>
      <h4>No company found</h4>
    </ng-template>

    <div *ngIf="company; else companyNotFound" class="position-relative" #companyBlock>
      <div class="container">
        <div class="h4 fw-bold">
          {{company.name}}
          <div *ngIf="user?.employer?.companyId == company.id" class="position-absolute top-0 end-0">
            <button class="btn btn-outline-danger" [disabled]="isLeaveLoading" (click)="leave()">Leave</button>
          </div>
        </div>

        <div *ngIf="company.phone">
            <i-bs name="telephone" class="pe-2"></i-bs>
            <span class="align-middle">{{company.phone}}</span>
        </div>

        <div *ngIf="company.website">
          <div>
            <i-bs name="globe" class="pe-2"></i-bs>
            <a href="{{company.website}}" class="text-decoration-none" #companyLink>{{company.name}} website</a>
          </div>
          <div class="ps-5">
            <button class="btn text-muted text-decoration-none" style="font-size: 0.8em; cursor: pointer" (click)="showFullLink()">show full link</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="container" *ngIf="company.about">
        <pre>{{company.about}}</pre>
      </div>
      <div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="0">
            <button ngbNavLink style="border: 0px !important; cursor: default !important;">
            </button>
          </li>
          <li [ngbNavItem]="1" class="ps-2">
            <button ngbNavLink>
              <i-bs name="people" class="pe-2"></i-bs>
              Members ({{company.employers}})
            </button>
            <ng-template ngbNavContent>
              <div class="container">
                <app-company-member-list [company]="company" [user]="user"></app-company-member-list>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>
              <i-bs name="list" class="pe-2"></i-bs>
              Vacancies ({{company.vacancies}})
            </button>
            <ng-template ngbNavContent>
              <div class="container">
                <app-company-vacancy-list [(company)]="company" [user]="user"></app-company-vacancy-list>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" *ngIf="user?.employer?.isHr && user?.employer?.companyId == company.id">
            <button ngbNavLink>
              <i-bs name="envelope-plus" class="pe-2"></i-bs>
              Invites
            </button>
            <ng-template ngbNavContent>
              <div class="container">
                <app-company-invite-list [company]="company"></app-company-invite-list>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="9" *ngIf="company.ownerId == user?.id">
            <button ngbNavLink><i-bs name="gear"></i-bs></button>
            <ng-template ngbNavContent>
              <div class="container">
                <app-company-edit [company]="company" (saved)="loadCompany()"></app-company-edit>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </ng-template>
</div>
