<nav class="navbar navbar-expand-lg pb-0 bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand mb-0 h5" routerLink="/">Job Hunter</a>
    </div>
    <button
      type="button"
      class="navbar-toggler"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="navbar-nav">
        <li *ngIf="user" class="nav-item app-link">
          <a
            class="mb-0 ps-3 pe-3 btn btn-outline h6"
            routerLinkActive="active"
            routerLink="/company">
            Company
          </a>
        </li>
        <li class="nav-item app-link">
          <a
            class="mb-0 ps-3 pe-3 btn btn-outline h6"
            routerLinkActive="active"
            routerLink="/vacancies">
            Vacancies
          </a>
        </li>
        <li *ngIf="user?.employer?.isHr" class="nav-item app-link">
          <a
            class="mb-0 ps-3 pe-3 btn btn-outline h6"
            routerLinkActive="active"
            routerLink="/vacancy/new">
            New Vacancy
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li *ngIf="!user" class="nav-item">
          <a
            class="mb-0 ps-3 pe-3 btn btn-outline-success h6"
            routerLinkActive="active"
            routerLink="/login"
            *ngIf="!user">
            Sign in | up
          </a>
        </li>
        <li *ngIf="user" class="nav-item">
          <div ngbDropdown class="d-inline-block" display="dynamic">
            <button type="button" class="btn btn-outline-primary" id="profileDropdown" ngbDropdownToggle>
              {{user.name}}
            </button>
            <div ngbDropdownMenu aria-labelledby="profileDropdown"  style="border:0px;background:transparent;">
              <div style="width: min-content;" class="border rounded bg-white">
                <div class="d-flex justify-content-center">
                  <a class="app-link">
                    <button class="btn" routerLink="/user/{{user.id}}">
                      Profile
                    </button>
                  </a>
                </div>
                <div class="d-flex justify-content-center">
                  <a class="app-link">
                    <button class="btn" routerLink="/favorite">
                      Favorites
                    </button>
                  </a>
                </div>
                <div class="d-flex justify-content-center">
                  <a class="app-link">
                    <button class="btn" routerLink="/chat">
                      Chats
                    </button>
                  </a>
                </div>
                <div >
                  <button class="btn btn-outline-danger" (click)="onLogout()" style="width: 100px;">Logout</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

