<div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <ng-container *ngIf="!isLoading && replies?.length == 0">
    <span class="h5">No replies</span>
  </ng-container>

  <div *ngIf="!isLoading; else loading" class="d-flex flex-wrap">
    <div *ngFor="let reply of replies" class="position-relative shadow p-3 m-2 bg-body rounded" style="width: 30%;">
      <div class="position-absolute top-0 end-0 pe-2 text-muted">
        {{reply.date | date:'h:mm a, d, MMM'}}
      </div>
      <div>
        <span class="align-middle">
          <i-bs name="chat-dots" width="1.3em" height="1.3em"></i-bs>
          <a class="app-link ps-2" style="font-size: 1.1em;" routerLink="/user/{{reply.account.id}}">{{reply.account.name}}</a>
        </span>
      </div>
      <div class="pt-2">
        <form #editReplyForm="ngForm" (ngSubmit)="onSave(editReplyForm, reply.id)">
          <select name="status" id="status" class="form-select" [ngModel]="reply.status">
            <option value="pending">Pending</option>
            <option value="accepted">Accept</option>
            <option value="declined">Decline</option>
          </select>

          <div class="pt-2">
            <button class="btn btn-success" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="canLoadMore">
      <button class="btn-outline-info" (click)="loadPage()">Load more</button>
    </div>
  </div>

</div>
